/* reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* generic */

body{
    font-family: 'PT Sans', sans-serif;
    padding-top: 64px;
}

.container{
    width: 100%;
    padding: 10px 15px;
    margin: 0 auto;
    max-width: 1200px;
}

section{
    padding: 40px 0;
}

.sec-3 .text, .sec-6 .text, footer .text{
    text-align: center;
}

img{
    width: 100%;
}

h2{
    margin: 20px 0;
}

/* utils */

.col{
    padding: 10px;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.bg-purple{
    background-color: #9792e4;
}

.bg-white{background-color: white;}

/* header */

header{
    background-color: #0084fd;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
}

header .row{
    flex-direction: row;
}

header button{
    border: none;
    background-color: transparent;
    color: white;
    font-size: 25px;
}

header ul{
    display: none;
}

header li{
    list-style-type: none; 
    text-align: center;
}

header li a{
    text-decoration: none;
    color: white;
}

header li.btn a{
    color: black;
    background-color: white;
    border-radius: 15px;
    padding: 5px 10px;
}



/* main */

/* ! sec-1 */

.sec-1 .row{
    align-items: stretch;
}

.sec-1 .card{
    background-color: #b5ddff;
    border-radius: 18px;
    padding:20px;
    height: 100%;

    color: #5a646b;
}

.sec-1 .card.big{
    padding-bottom: 0;
}

.sec-1 a{
    color: white;
    text-decoration: none;
    background-color: #0084fd;
    padding: 10px 15px;
    border-radius: 20px;
    
    display: block;
    width: 150px;
    text-align: center;
    margin: 20px auto;
}

.sec-1 img{
    max-width: 250px;
    display: block;
    margin: 0px auto;
}

.sec-1 h3{
    color: #0084fd;
    font-size: 20px;
    margin: 20px 0;
}

.sec-1 .card:not(.big) h3{
    text-align: center;
}

.sec-1 .card:not(.big) i{
    color: #0084fd;
    font-size: 55px;

    display: block;
    text-align: center;
}

/* ! sec-2 */

.sec-2 .card:not(.bg-white){
    color: white;
}

.sec-2 img{ max-width: 420px;}

.sec-2 .card:not(.bg-white) img{
    display: block;
    margin: 0 auto;
}

.sec-2 .card.bg-white{
    background-color: white;
    border-radius: 25px;
    padding: 20px;
    text-align: center;
}

.sec-2 .arrow{
    margin: 30px 0;
}

.sec-2 .arrow i {
    font-size: 20px;
    background-color: #9792e4;
    padding: 12.5px 15px;
    border-radius: 50%;
}

/* ! sec-3 */

.sec-3 h4{
    font-weight: 400;
    text-transform:uppercase
}

.sec-3 h2{
    color: #9792e4;
    font-size: 32px;
}

.sec-3 .card-section{
    margin: 30px 0;
}

.sec-3 .card{
    padding: 30px;
    border-radius: 40px;
    margin-bottom: 30px;
}

.sec-3 figure{
    width: 200px;
    height: 200px;
    flex-shrink: 0;

    overflow: hidden;
    border-radius: 50%;

    margin: 0 auto;
}

.sec-3 figure img {
    height: 100%;
    width: fit-content;

    transform: translateX(-50px);
}

.sec-3 .card.bg-purple .text{
    color: white;
    margin: 20px;
}

.sec-3 .card.bg-purple h3{
    margin: 15px 0;
}

/* ! sec-4 */



/* ! sec-5 */



/* ! sec-6 */

.sec-6 button{
    display: block;
    margin: 0 auto;
}

/* footer */

footer .container{
    max-width: 550px;
}

/* media query */

@media screen and (min-width:577px) {
    .sec-1 .row, .sec-4 .row, .sec-5 .row{
        flex-direction: row;
        flex-wrap: wrap;
    }

    .sec-1 .col{
        flex-basis: calc(100% / 3);
    }

    .sec-1 .col:first-child{
        flex-basis: calc(100% / 3 * 2);
    }

    .sec-3 .card{
        display: flex;
        align-items: center;
    }

    .sec-3 .card .text{
        text-align: left;
    }

    .sec-4 .col{
        flex-basis: 50%;
    }

    .sec-5 .card{
        flex-basis: 200px;
    }

    .sec-5 .text{
        flex-grow: 1;
    }
}
    
@media screen and (min-width: 769px) {
    header button{
        display: none;
    }

    header ul{
        display: flex;
        flex-basis: 50%;
        max-width: 510px;
        justify-content: space-between;
    }

    .sec-1 .card.big{
        display: flex;
    }

    .sec-1 a{
        margin: 20px 0;
    }

    .sec-2 .row{
        flex-direction: row;
    }

    .sec-2 .col{
        flex-basis: 50%;
    }

    .sec-4 .col{
        flex-basis: calc(100% / 3);
    }

    
}
