/* reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* !da cancellare */
    border: 1px dashed black;
}

/* generic */

body{
    font-family:sans-serif;
    padding-top: 50px;
}

.container{
    width: 100%;
    padding: 10px;
    margin: 0 auto;
}

section{
    padding: 10px 0;
}

.sec-3 .text, .sec-6 .text{
    text-align: center;
}

/* utils */

.col{
    padding: 5px;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

/* header */

header{
    background-color: #0084fd;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

header .row{
    flex-direction: row;
}

header ul{
    display: none;
}

header li{
    list-style-type: none;
}

/* main */

/* ! sec-1 */


/* ! sec-2 */



/* ! sec-3 */



/* ! sec-4 */



/* ! sec-5 */



/* ! sec-6 */



/* media query */

@media screen and (min-width:577px) {
    .sec-1 .row, .sec-4 .row, .sec-5 .row{
        flex-direction: row;
        flex-wrap: wrap;
    }

    .sec-1 .col{
        flex-basis: calc(100% / 3);
    }

    .sec-1 .col:first-child{
        flex-basis: calc(100% / 3 * 2);
    }

    .sec-4 .col{
        flex-basis: 50%;
    }

    .sec-5 .card{
        flex-basis: 200px;
    }

    .sec-5 .text{
        flex-grow: 1;
    }
}
    
@media screen and (min-width: 769px) {
    header button{
        display: none;
    }

    header ul{
        display: flex;
        flex-basis: 35%;
        justify-content: space-between;
    }

    .sec-2 .row{
        flex-direction: row;
    }

    .sec-2 .col{
        flex-basis: 50%;
    }

    .sec-4 .col{
        flex-basis: calc(100% / 3);
    }

    
}

@media screen and (min-width: 993px){
    .container{
        max-width: 1200px;
    }

}